/* main section */

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/men_bg.jpg");
    background-size: cover;
    background-position: center;
}

.main__container {
    padding-top: 170px;
}

.main__content {
    max-width: 804px;
}

.main__subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3px;
    color: var(--alpine-goat);
    margin-top: 0;
    margin-bottom: 24px;

    .subtitle_bold {
        font-weight: 700;
    }
}

.main__title {
    font-size: 54px;
    line-height: 65px;
    font-weight: 700;
    color: var(--alpine-goat);
    margin-top: 0;
    margin-bottom: 24px;
}

.main__subtext {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
    color: var(--alpine-goat);

    .subtext__user {
        color: var(--canary-diamond);
    }
}

.main__context {
    margin-top: 0;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: var(--alpine-goat);
}

/* posts section */

.posts {
    margin-top: 128px;
}

.posts__content {
    gap: 32px;
}

.post-sec__title {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
}

.featured-post__content {
    padding: 32px;
    max-width: 703px;
    border: 1px solid var(--lighthouse);

    img {
        width: 100%;
        margin-bottom: 32px;
    }

    .post__descr {
        margin-top: 0;
        margin-bottom: 32px;
        color: var(--granite-canyon);
        font-size: 16px;
        line-height: 27px;
        font-weight: 400;
    }
}

.post__user {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: var(--shady-character);

    span {
        color: var(--royalty);
    }
}

.post__title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 27px;
    line-height: 40px;
    font-weight: 700;
}

.all-posts-list .list__post {
    padding: 32px 115px 25px 32px;
    max-width: 517px;
    cursor: pointer;
    transition: .2s linear;
}

.list__post:hover {
    background-color: var(--clear-moon);
}

.list__post:focus {
    background-color: var(--clear-moon);
}

/* about section*/

.about {
    margin-top: 128px;
}

.about__container {
    background-color: var(--alpine-goat);
    padding: 96px 108px 96px 0px;
}

.about__progress {
    position: relative;
    top: -118px;
    left: 363px;
    width: 80%;
    height: 23px;
    background: linear-gradient(to right, var(--canary-diamond) 70%, var(--royalty) 30%);
}

.about__content {
    justify-content: space-around;
}

.about__block {
    max-width: 516px;
}

.about__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    color: #000000;
}

.about__heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
}

.about__text {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: var(--granite-canyon);
}

.about__link {
    padding: 0;
    background-color: inherit;
    color: var(--royalty);
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

/* categories */

.categories {
    margin-top: 128px;

    .categories__title {
        text-align: center;
        margin-bottom: 48px;
    }

    .categories__list {
        gap: 32px;

        .categories__item--startup {
            img {
                padding: 12px;
            }
        }

        .categories__item {
            padding: 32px;
            max-width: 296px;
            border: 2px solid var(--alpine-goat);
            transition: .5s linear;

            .categories__name {
                margin: 0;
                font-size: 30px;
                font-weight: 700;
                line-height: 45px;
            }

            .categories__description {
                margin: 0;
                font-size: 16px;
                line-height: 25px;
                font-weight: 400;
                color: var(--granite-canyon);
            }

            img {
                margin-bottom: 16px;
                background-color: var(--clear-moon);
                border-radius: 10px;
            }
        }

        .categories__item:hover {
            background-color: var(--canary-diamond);
            cursor: pointer;
        }

        .categories__item:focus {
            background-color: var(--canary-diamond);
        }
    }
}

/* Why we started section */

.why-we-started-section {
    margin-top: 128px;
    position: relative;

    

    .image__container {
        position: relative;
        width: 949px;
        height: 705px;
        background-image: url("../images/friends.jpg");
    }

    .why-we-started__content {
        position: absolute;
        padding: 80px;
        max-width: 706px;
        z-index: 3;
        left: 45%;
        top: 22%;
        background-color: var(--white);

        span {
            margin-bottom: 24px;
            color: var(--cold-steel);
            font-size: 19px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 2px;
            display: inline-block;
        }

        h2 {
            margin-bottom: 16px;
            max-width: 546px;
            font-size: 45px;
            font-weight: 600;
            line-height: 55px;
        }
        
        p {
            margin-bottom: 32px;
            font-size: 17px;
            font-weight: 400;
            line-height: 25px;
            color: var(--granite-canyon);
        }
    }
}


/* Authors */

.authors {
    margin-top: 128px;

    h2 {
        text-align: center;
        margin-bottom: 48px;
    }

    .authors__list {
        gap: 32px;

        .authors__member {
            padding: 40px 65px;
            display: flex;
            flex-direction: column; 
            align-items: center; 
            text-align: center;
            background-color: var(--lighthouse);
            cursor: pointer;
            transition: .5s linear;

            h3 {
                margin: 0;
                margin-top: 20px;
                font-size: 20px;
                line-height: 35px;
            }

            span {
                display: inline-block;
                margin-bottom: 20px;
                font-size: 12px;
                line-height: 22px;
                color: var(--granite-canyon);
                font-weight: 400;
            }

            .social__list {
                gap: 16px;
            }
        }

       .authors__member:hover {
            background-color: var(--clear-moon);
        }

       .authors__member:focus {
            background-color: var(--clear-moon);
        }
    }
}

/* featured */

.featured {
    margin-top: 96px;

    .container {
        align-items: center;
    }

    ul {
        margin-left: 86px;
        gap: 75px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        color: var(--granite-canyon);

        span {
            display: block;
            font-size: 22px;
            line-height: 25px;
            color: var(--shady-character);
            font-weight: 600;
        }
    }
}

/* testimonials */
.testimonials {
    margin-top: 96px;
}

.testimonials .container {
    background-color: var(--clear-moon);
    padding: 80px 111px 75px 112px;
}

.testimonials__subtitle {
    margin: 0;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 2px;
    margin-bottom: 12px;
    color: var(--dark-gray);
}

.testimonials__title {
    font-size: 32px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 16px;
    max-width: 346px;
}

.testimonials__descr {
    font-size: 16px;
    color: var(--granite-canyon);
    line-height: 1.6;
    max-width: 349px;
}

.testimonials-side--left {
    max-width: 541px;
    border-right: 1px solid var(--granite-canyon);
    /* display: inline-block; */

}

.testimonials-side--right {
    padding-left: 96px;
    display: inline-block;
    
    .testimonials__descr--right {
        font-size: 22px;
        line-height: 25px;
        font-weight: 700;
        max-width: 469px;
        margin: 0;
    }
}


/* Swiper styles */
.swiper {
    max-width: 350px;
    padding: 20px;
    margin-top: 121px;
    margin-left: 0;
    margin-right: 0;
}

.swiper-button {
    border: none;
    background-color: inherit;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    padding: 20px;

    span {
        display: block;
        color: var(--granite-canyon);
        font-size: 13px;
        line-height: 16px;

    }
}

.swiper-slide img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid var(--black);
}

.swiper-slide strong {
    font-size: 18px;
    color: var(--black);
}

/* Swiper Navigation */
.swiper-button-prev, 
.swiper-button-next {
    color: black !important;
    background: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.swiper-button-prev:hover, 
.swiper-button-next:hover {
    background: #000000;
    color: white !important;
}


/* Join */

.join {
    margin-top: 128px;
    
    .container {
        display: flex; 
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .join__block {
            max-width: 414px;
            text-align: center; 

            h2, p {
                margin: 0;
                text-align: center;
            }

            h2 {
                line-height: 40px;
                margin-bottom: 16px;
            }

            p {
                color: var(--granite-canyon);
                line-height: 27px;
                margin-bottom: 32px;
            }

            .join__btn {
                display: inline-block;
                text-align: center;
            }
        }
    }
}
