{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="details-info">
        <div class="container">
            <div class="user-global__info">
                <div class="user-info flex">
                    <img src="{% static 'images/profile-picture-1.jpg' %}" alt="">
                    <div class="user__text-info">
                        <span class="user-name">{{ post.author }}</span>
                        <p class="post-date">Posted at {{ post.created_at }}</p>
                    </div>
                </div>
                <h1 class="details-post__title">{{ post.title }}</h1>
                <img src="{{ post.category.image.url }}" alt="">{{ post.category }}
            </div>
            <div class="post-img">
                <img src="{{ post.image.url }}" alt="">
            </div>
        </div>
    </section>
    <section class="post-context">
        <div class="container">
            <div class="context__block">
                <h2 class="descr-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p class="post-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p><br><br>
                <h2 class="descr-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</h2>
                <p class="post-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.</p><br>
            </div>
        </div>
    </section>
    <section class="next-posts">
        <div class="container">
            <h2 class="sec-title">What read to next</h2>
            <ul class="next-posts-list flex">
                {% for post in all_posts %}
                <a href="{% url 'detail' post.id %}">
                    <li class="next-post">
                        <img src="{{ post.image.url }}" alt="">
                        <h3 class="next-post__title">{{ post.title }}</h3>
                        <p class="post__user">By <span>{{post.author}}</span> | {{ post.created_at }}</p>
                        <p class="next-post__descr post__descr">{{ post.content }}</p>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}