{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="main">
        <div class="container main__container">
            <div class="main__content">
                <p class="main__subtitle">POSTED ON <span class="subtitle_bold">STARTUP</span></p>
                <h1 class="main__title">Step-by-step guide to choosing great font pairs</h1>
                <p class="main__subtext">By <span class="subtext__user">James West</span> | May, 2024</p>
                <p class="main__context">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                <a href="#" class="main__btn primary-btn site-btn">
                    Read more
                    <svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "/></svg>
                </a>
            </div>
        </div>
    </section>
    <section class="posts">
        <div class="container">
            <div class="posts__content flex">
                <div class="featured__post">
                    <h2 class="post-sec__title sec-title">Featured Post</h2>
                    <div class="featured-post__content">
                        <img class="post__img" src="{% static 'images/temp-post-image.jpg' %}" alt="post-img">
                        <p class="post__user">By <span>Johne Doe</span> | January 31, 2025</p>
                        <h3 class="post__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h3>
                        <p class="post__descr">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                        <a href="#" class="read__post primary-btn site-btn">
                            Read more
                            <svg height="20px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="20" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="160,128.4 192.3,96 352,256 352,256 352,256 192.3,416 160,383.6 287.3,256 "/></svg>
                        </a>
                    </div>
                </div>
                <div class="all__posts">
                    <h2 class="post-sec__title sec-title">All Posts</h2>
                    <div class="all-posts__content">
                        <ul class="all-posts-list">
                            <li class="list__post" tabindex="0">
                                <p class="post__user">By <span>Johne Doe</span> | January 31, 2025</p>
                                <p class="post__title">8 Figma design systems that you can download for free today.</p>
                            </li>
                            <li class="list__post" tabindex="0">
                                <p class="post__user">By <span>Johne Doe</span> | January 31, 2025</p>
                                <p class="post__title">8 Figma design systems that you can download for free today.</p>
                            </li>
                            <li class="list__post" tabindex="0">
                                <p class="post__user">By <span>Johne Doe</span> | January 31, 2025</p>
                                <p class="post__title">8 Figma design systems that you can download for free today.</p>
                            </li>
                            <li class="list__post" tabindex="0">
                                <p class="post__user">By <span>Johne Doe</span> | January 31, 2025</p>
                                <p class="post__title">8 Figma design systems that you can download for free today.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container about__container">
            <div class="about__progress"></div>  
            <div class="about__content flex">
                <div class="about__block">
                    <h3 class="about__title">ABOUT US</h3>
                    <h2 class="about__heading">
                        We are a community of content writers who share their learnings
                    </h2>
                    <p class="about__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a href="#" class="about__link primary-btn site-btn">Read More ></a>
                </div>
                <div class="about__block">
                    <h3 class="about__title">OUR MISSION</h3>
                    <h2 class="about__heading">
                        Creating valuable content for creatives all around the world
                    </h2>
                    <p class="about__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="categories">
        <div class="container">
            <h2 class="categories__title sec-title">Choose A Category</h2>
            <ul class="categories__list flex">
                <li class="categories__item categories__item--business" tabindex="0">
                    <img src="{% static 'images/business-icon.svg' %}" alt="">
                    <h3 class="categories__name">Business</h3>
                    <p class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
                <li class="categories__item categories__item--startup" tabindex="0">
                    <img src="{% static 'images/startup-Icon.svg' %}" alt="">
                    <h3 class="categories__name">Startup</h3>
                    <p class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
                <li class="categories__item categories__item--economy" tabindex="0">
                    <img src="{% static 'images/economy-icon.svg' %}" alt="">
                    <h3 class="categories__name">Economy</h3>
                    <p class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
                <li class="categories__item categories__item--technology" tabindex="0">
                    <img src="{% static 'images/technology-icon.svg' %}" alt="">
                    <h3 class="categories__name">Technology</h3>
                    <p class="categories__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="why-we-started-section">
        <div class="container flex">
            <div class="image__container"></div>
            <div class="why-we-started__content">
                <span class="why-we-started-sub__title">WHY WE STARTED</span>
                <h2 class="why-we-started__title sec-title">It started out as a simple idea and evolved into our passion</h2>
                <p class="why-we-started__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                <a href="#" class="site-btn primary-btn">Discover our story ></a>
            </div>
        </div>
    </section>
    <section class="authors">
        <div class="container">
            <h2 class="sec-title">List of Authors</h2>
            <ul class="authors__list flex">
                <li class="authors__member" tabindex="0">
                    <img  class="author__image" src="{% static 'images/man-in-yellow.png' %}" alt="author-img">
                    <h3 class="author-name">Floyd Miles</h3>
                    <span class="author-role">Content Writer @Company</span>
                    <ul class="social__list flex">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/facebook.svg' %}" alt="facebook">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/twitter.svg' %}" alt="twitter">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/instagram.svg' %}" alt="instagram">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/linkedin.svg' %}" alt="linkedin">
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="authors__member" tabindex="0">
                    <img class="author__image" src="{% static 'images/woman-in-white-and-black.png' %}" alt="author-img">
                    <h3 class="author-name">Dianne Russell</h3>
                    <span class="author-role">Content Writer @Company</span>
                    <ul class="social__list flex">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/facebook.svg' %}" alt="facebook">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/twitter.svg' %}" alt="twitter">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/instagram.svg' %}" alt="instagram">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/linkedin.svg' %}" alt="linkedin">
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="authors__member" tabindex="0">
                    <img class="author__image" src="{% static 'images/woman-in-white.png' %}" alt="author-img">
                    <h3 class="author-name">Jenny Wilson</h3>
                    <span class="author-role">Content Writer @Company</span>
                    <ul class="social__list flex">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/facebook.svg' %}" alt="facebook">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/twitter.svg' %}" alt="twitter">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/instagram.svg' %}" alt="instagram">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/linkedin.svg' %}" alt="linkedin">
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="authors__member" tabindex="0">
                    <img class="author__image" src="{% static 'images/woman-in-yellow.png' %}" alt="author-img">
                    <h3 class="author-name">Leslie Alexander</h3>
                    <span class="author-role">Content Writer @Company</span>
                    <ul class="social__list flex">
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/facebook.svg' %}" alt="facebook">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/twitter.svg' %}" alt="twitter">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/instagram.svg' %}" alt="instagram">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" class="social__link">
                                <img src="{% static 'images/linkedin.svg' %}" alt="linkedin">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
    <section class="featured">
        <div class="container flex">
            <p>We are <span>Featured in</span></p>
            <ul class="logos flex">
                <li><img src="{% static 'images/first-company.svg' %}" alt="Logo 1"></li>
                <li><img src="{% static 'images/second-company.svg' %}" alt="Logo 2"></li>
                <li><img src="{% static 'images/third-company.svg' %}" alt="Logo 3"></li>
                <li><img src="{% static 'images/fourth-company.svg' %}" alt="Logo 4"></li>
                <li><img src="{% static 'images/fifth-company.svg' %}" alt="Logo 5"></li>
            </ul>
        </div>
    </section>    
    <section class="testimonials">
        <div class="container flex">
            <div class="testimonials-side--left">
                <h3 class="testimonials__subtitle">TESTIMONIALS</h3>
                <h2 class="testimonials__title">What people say about our blog</h2>
                <p class="testimonials__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="testimonials-side--right">
                <p class="testimonials__descr--right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img src="{% static 'images/profile-picture-1.jpg' %}" alt="user-img">
                        <strong>Jonathan Vallem</strong>
                        <span>New York, USA</span>
                      </div>
                      <div class="swiper-slide">
                        <img src="{% static 'images/profile-picture-2.jpg' %}" alt="user-img">
                        <strong>John Smith</strong>
                        <span>New York, USA</span>
                      </div>
                      <div class="swiper-slide">
                        <img src="{% static 'images/profile-picture-3.png' %}" alt="user-img">
                        <strong>Jim Lorki</strong>
                        <span>LA, USA</span>
                      </div>
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>
                  
                    <!-- If we need navigation buttons -->
                    <button class="swiper-button swiper-button-prev"></button>
                    <button class="swiper-button swiper-button-next"></button>
                  
                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}